{% extends "base.html" %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'users/css/message.css' %}">

{% if messages %}
    <div id="popupMessage" class="popup">
        {% for message in messages %}
            <div class="{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
        <button onclick="closePopup()" class="btn">Close</button>
    </div>
{% endif %}

<script>
    function closePopup() {
        document.getElementById('popupMessage').style.display = 'none';
        window.location.href = "{% url 'users:login' %}"; // Redirect to the userlogin page
    }

    // // Auto close popup after 5000ms (5 seconds)
    // setTimeout(function() {
    //     closePopup();
    // }, 5000);
</script>


{% endblock %}
