<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <p>Hello {{ user.username }},</p>
        <p>Your appointment details have been updated as follows:</p>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Vehicle:</th>
                    <td>{{ vehicle }}</td>
                </tr>
                <tr>
                    <th scope="row">Service:</th>
                    <td>{{ service }}</td>
                </tr>
                <tr>
                    <th scope="row">New Date and Time:</th>
                    <td>{{ appointment_date|date:"F d, Y H:i" }}</td>
                </tr>
                <tr>
                    <th scope="row">Description:</th>
                    <td>{{ description }}</td>
                </tr>
            </tbody>
        </table>
        <p>Please contact us if you have any questions or need further assistance.</p>
    </div>
</body>
</html>
