<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
    <style>
        #appointmentsList {
            display: flex;
            overflow-x: auto;
            padding: 20px;
        }
        .card {
            flex: 0 0 auto; /* Do not grow, do not shrink, base width on content */
            width: 300px; /* Fixed width for each card */
            margin-right: 15px; /* Space between cards */
        }
        .card-header {
            background-color: #3bac9f; /* Matching blue header */
            color: rgb(15, 15, 15); /* White text color */
            display: block;
        }
        .card-body {
            background-color: #f3f6fa; /* Light background for the content */
        }
        .info-block {
            background-color: #8f8176aa; /* Light grey background for each block */
            border-left: 3px solid #2c8ab0; /* Blue left border for a touch of color */
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }
        .info-block label {
            font-weight: bold;
            color: #442727;
            display: block;
        }
        .info-block span {
            display: block;
            padding-left: 10px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #007bff;">
    <a class="navbar-brand text-white" href="#">DT Autos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" id="loginButton">
                <a class="nav-link text-white" href="{% url 'users:login' %}">Log in</a>
            </li>
            <li class="nav-item" id="registerButton">
                <a class="nav-link text-white" href="{% url 'users:register' %}">Register</a>
            </li>
            <li class="nav-item" id="logoutButton" style="display:none;">
                <a class="nav-link text-white" href="#" id="logoutLink">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<body>

<div>
    <div id="appointmentsList"></div>
</div>
<div class="my-3">
    <a href="{% url 'dashboard:create_appointment' %}" class="btn btn-primary ml-3" id="createAppointmentButton">Register A New Appointment</a>
</div>

<script>
// appointment edit and delete function
function editAppointment(appointmentId) {
// Redirect to edit page
window.location.href = `/appointments/${appointmentId}/edit/`;
}

function deleteAppointment(appointmentId) {
// Confirm deletion
const accessToken = localStorage.getItem('access_token');
if (confirm('Are you sure you want to delete this appointment?')) {
    $.ajax({
        url: `/appointments/${appointmentId}/delete/`,
        method: 'DELETE',
        headers: { 'Authorization': 'Bearer ' + accessToken },
        success: function() {
            alert('Appointment deleted successfully.');
            $(`#appointment-${appointmentId}`).remove(); // Update or refresh your list
        },
        error: function() {
            alert('Appointment deleted successfully.');
            window.location.href = `/`;
        }
    });
    }
}
$(document).ready(function() {
    // Handle CSRF protection in views
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    // Function to check if the token is valid
    function isTokenValid(token) {
        try {
            const decodedToken = jwt_decode(token);
            const currentTime = Math.floor(Date.now() / 1000); // Current time in seconds

            // Debug statements to inspect the token
            console.log('Decoded token:', decodedToken);
            console.log('Token expiration time:', decodedToken.exp);
            console.log('Current time:', currentTime);

            // Check if the token has the exp property
            if (!decodedToken.exp) {
                console.error('Token does not have an exp property');
                return false;
            }

            return decodedToken.exp > currentTime; // Check if the token is not expired
        } catch (error) {
            console.error('Invalid token', error);
            return false;
        }
    }

    // Fetch the stored access token from localStorage
    const accessToken = localStorage.getItem('access_token');
    console.log('Stored access token:', accessToken); // Debug statement

    const isAuthenticated = accessToken && isTokenValid(accessToken);
    console.log('Is authenticated:', isAuthenticated); // Debug statement

    // Toggle visibility of login/register and logout buttons based on authentication status
    if (isAuthenticated) {
        console.log("User is Authenticated.")
        $('#loginButton').hide();
        $('#registerButton').hide();
        $('#logoutButton').show();
        $('#createAppointmentButton').show();

        console.log("Populating Appointments Data")
        // Fetch appointments data
        $.ajax({
            url: '/api/appointments/', // Make sure this URL points to your API for fetching appointments
            method: 'GET',
            headers: { 'Authorization': 'Bearer ' + accessToken },
            success: function(appointments) {
                const appointmentsList = appointments.map(appointment => `
                    <div class="card">
                        <div class="card-header">
                        ${appointment.user.first_name} ${appointment.user.last_name}
                        </div>
                        <div class="card-body">
                            <div class="info-block">
                                <label>Vehicle Model/Make</label>
                                <span>${appointment.vehicle.model} ${appointment.vehicle.make}</span>

                                <label>Cost</label>
                                <span>${appointment.service.cost}</span>

                                <label>Booking DateTime</label>
                                <span>${appointment.appointment_date}</span>

                                <label>Status</label>
                                <span>${appointment.status}</span>

                                <label>Service Type</label>
                                <span>${appointment.service.description}</span>
                            </div>
                            <!-- Buttons for Edit and Delete -->
                            <button onclick="editAppointment(${appointment.id})" class="btn btn-info">Edit</button>
                            <button onclick="deleteAppointment(${appointment.id})" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                `);
                $('#appointmentsList').html(appointmentsList.join(''));
            },
            error: function() {
                console.log('Error fetching appointments.');
                alert('Failed to fetch appointments. Please try again.');
            }
        });
    } else {
        $('#loginButton').show();
        $('#registerButton').show();
        $('#logoutButton').hide();
        $('#createAppointmentButton').hide();
        // Fetch appointments data
        $.ajax({
        url: '/api/appointments_all/', // Make sure this URL points to your API for fetching appointments
        method: 'GET',
        success: function(appointments) {
            const appointmentsList = appointments.map(appointment => `
                <div class="card">
                    <div class="card-header">
                    ${appointment.user.first_name} ${appointment.user.last_name}
                    </div>
                    <div class="card-body">
                        <div class="info-block">
                            <label>Vehicle Model/Make</label>
                            <span>${appointment.vehicle.model} ${appointment.vehicle.make}</span>

                            <label>Cost</label>
                            <span>${appointment.service.cost}</span>

                            <label>Booking DateTime</label>
                            <span>${appointment.appointment_date}</span>

                            <label>Status</label>
                            <span>${appointment.status}</span>

                            <label>Service Type</label>
                            <span>${appointment.service.description}</span>
                        </div>
                    </div>
                </div>
            `);
            $('#appointmentsList').html(appointmentsList.join(''));
        },
        error: function() {
            console.log('Error fetching appointments.');
            alert('Failed to fetch appointments. Please try again.');
        }
    });

    }

    // Logout function
    $('#logoutLink').on('click', function(event) {
        event.preventDefault();
        localStorage.removeItem('access_token'); // Remove access token from localStorage
        localStorage.removeItem('refresh_token'); // Optionally remove refresh token
        alert('Logout successful!');
        window.location.href = '/';
    });

});
</script>
</body>
</html>
