{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Autos repair, car repair, car repair in Ireland, autos repair in Ireland, online garage, garage in Ireland, online Autos garage, online motor garage, Autos, car for sale, buy used car, auto mechanics, auto mechanics in Ireland">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <title>For Sale</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark d-flex justify-content-center">
        <div class="containerx">
            <a class="navbar-brand" href="{% url 'dashboard:home' %}">
                <img src="{% static 'dashboard/images/DT_logo.png' %}" alt="DT Autos"
                    style="width: 100%; height: auto; max-width: 80px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto ">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="btn btn-primary btn-sm nav-link m-3 px-3" href="/dashboard">Dashboard</a>
                    </li>

                    {% else %}
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link mt-4" href="{% url 'dashboard:home' %}">Home</a>
                    </li>
                    

                    <li class="nav-item">
                        <a class="nav-link mt-4" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mt-4" href="/vehicles/">Cars for Sale</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link mt-4" href="/dashboard">Book Now</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link mt-4" href="/userapi/register">Book Now</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link mt-4" href="#" data-toggle="modal" data-target="#contactModal">Contact Us</a>
                    </li>
                    
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="btn btn-primary btn-sm nav-link m-3 px-3" href="#" id="logout-button">Logout</a>
                    </li>
                    <form id="logout-form" action="{% url 'users:logout' %}" method="post" style="display: none;">
                        {% csrf_token %}
                    </form>
                    <script>
                        document.getElementById('logout-button').addEventListener('click', function (event) {
                            event.preventDefault();
                            document.getElementById('logout-form').submit();
                        });
                    </script>

                    {% else %}
                    <li class="nav-item">
                        <a class="btn btn-primary nav-link m-3 px-3 btn-sm" href="/userapi/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary nav-link m-3 px-3 btn-sm" href="/userapi/login">Login</a>
                    </li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% if user.is_authenticated %}
        <form id="logout-form" action="{% url 'users:logout' %}" method="post" style="display: none;">
            {% csrf_token %}
        </form>
        <script>
            document.getElementById('logout-button').addEventListener('click', function(event) {
                event.preventDefault();
                document.getElementById('logout-form').submit();
            });
        </script>
    {% endif %}

    <div class="vehiclesx-container">
        {% for vehicle in vehicles %}
        <div class="vehiclex-card">
            {% if vehicle.image %}
            <img src="data:image/jpeg;base64,{{ vehicle.image }}" alt="{{ vehicle.make }} {{ vehicle.model }}" class="vehiclex-image">
            {% else %}
            <div class="vehiclex-image" style="background-color: rgba(255,255,255,0.1);"></div>
            {% endif %}
            <div class="vehiclex-details">
                <div class="vehiclex-title">{{ vehicle.make }} {{ vehicle.model }} {{ vehicle.color }}</div>
                <div class="vehiclex-location">{{ vehicle.make }}</div>
                <div class="vehiclex-specs">
                    <span class="specx">Model:<br> <span>{{ vehicle.model }}</span></span>
                    <span class="specx">Color:<br> <span>{{ vehicle.color }}</span></span>
                    <span class="specx">Description:<br> <span>{{ vehicle.description }}</span></span>
                </div>
                {% if user.is_authenticated %}
                    <button type="button" class="actionx-button" onclick="openContactModal('{{ vehicle.id }}', '{{ vehicle.make }}', '{{ vehicle.model }}')">
                        Request Purchase
                    </button>
                {% else %}
                    <a href="{% url 'users:login' %}" class="actionx-button">Request Purchase</a>
                {% endif %}
            </div>
        </div>
        {% empty %}
        <p>No vehicles available for Sale.</p>
        {% endfor %}
    </div>

    <!-- Contact Modal -->
    <div class="modal fade" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="purchaseModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content  bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="purchaseModalLabel">Request Vehicle Purchase</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="contactForm">
                        <div class="form-group">
                            <label for="fname">First Name:</label>
                            <input type="text" class="form-control" id="fname" name="fname" required>
                        </div>
                        <div class="form-group">
                            <label for="lname">Last Name:</label>
                            <input type="text" class="form-control" id="lname" name="lname" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="subject">Subject:</label>
                            <input type="text" class="form-control" id="subject" name="subject" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Message:</label>
                            <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Reach us</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <footer class="text-white text-center text-lg-start" style="background-color: #23242a;">
        <div class="container p-4">
            <div class="row mt-4">
                <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">About company</h5>
                    <p>At DT Autos Garage we want to keep your vehicle operating at its factory standard level. Our certified experts are dedicated to bringing you the best solutions.</p>
                    <div class="mt-4">
                        <a type="button" href="https://facebook.com" target="_blank" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-facebook-f"></i></a>
                        <a type="button" href="https://linkedin.com" target="_blank" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-linkedin"></i></a>
                        <a type="button" href="https://twitter.com" target="_blank" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-twitter"></i></a>
                        <a type="button" href="https://google.com" target="_blank" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-google-plus-g"></i></a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <ul class="fa-ul" style="margin-left: 1.65em;">
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Sword, dublin 10012, Ireland</span>
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">info@example.com</span>
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 01 234 567 88</span>
                        </li>
                        <li class="mb-3">
                            <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+ 01 234 567 89</span>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">Opening hours</h5>
                    <table class="table text-center text-white">
                        <tbody class="font-weight-normal">
                            <tr>
                                <td>Mon - Fri:</td>
                                <td>9am - 6pm</td>
                            </tr>
                            <tr>
                                <td>Sat:</td>
                                <td>9am - 3pm</td>
                            </tr>
                            <tr>
                                <td>Sunday:</td>
                                <td>Closed</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Copyright:
            <a class="text-white" href="#">DT Autos Garage</a>
        </div>
    </footer>

    <script>
        function openContactModal(vehicleId, make, model) {
            $('#vehicle_id').val(vehicleId);
            $('#message').val(`I am interested in purchasing ${make} ${model}.`);
            $('#purchaseModal').modal('show');
        }

        $(document).ready(function() {
            $('#contactForm').on('submit', function(e) {
                e.preventDefault();

                            alert('Thank you for your interest! We will contact you soon.');
                            $('#purchaseModal').modal('hide');
                            $('#purchaseForm')[0].reset();

        });
    })
    </script>
</body>
</html>
